body {
    background: linear-gradient(#F8F8F2, #282A36);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    margin: 0;
    overflow: hidden;

    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-vscode-window {
    background-color: #282A36;

    width: 1142px;
    height: 847px;

    max-width: calc(100% - 150px);
    max-height: calc(100vh - 150px);

    border-radius: 32px;
    border: solid #44475A 2px;
}



/* HEADER WINDOW */
.window-header {
    background-color: #282A36;

    width: auto;
    height: 54px;

    border-radius: 32px 32px 0px 0px;
}

#vscode-icon {
    float: left;
    margin: 13px 0px 0px 21px;
}

#window-buttons {
    float: right;
    margin: 13px 21px 0px 0px;
}



/* LEFT FILES SPACE */
.files-space {
    background-color: #282A36;

    position: fixed;

    width: 236px;
    height: 793px;

    max-width: calc(100% - 300px);
    max-height: calc(100% - 204px);
    /* 204px = window header height (54px) + main vscode window max-height (150px) */

    border-radius: 0px 0px 0px 32px;
}

.left-files-list ul {
    margin-top: 30px;
    padding-left: 25px;
}

.left-files-list ul li {
    list-style-type: none;
    margin-bottom: 25px;
}

.left-files-list ul li a {
    text-decoration: none;
    color: #F8F8F2;
}

.left-list-text-option {
    font-size: 24px;
    margin-left: 8px;
}